@use "../custom" as *;
@use "../components/mixins" as *;

.main_body {
  display: block;
  background-color: $white;
  min-height: 90dvh;
  padding: 2rem 15dvw;

  @include responsive(mobile) {
    padding: 1rem;
  }
}
 