
// THEME COLOURS 
$cypheir-main: #1ca7ec;
$cypheir-sub: #88d6fd;
$cypheir-success: #34ec1c;
$cypheir-danger: #ec1c1c;
$cypheir-warn: #f3ef0d;


// NATURAL COLOURS SCSS CODES
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #0e0f0f;
$black:    #000;


$white-trans:    #ffffffef;
$gray-100-trans: #f8f9faef;
$gray-200-trans: #e9ecefef;
$gray-300-trans: #dee2e6ef;
$gray-400-trans: #ced4daef;
$gray-500-trans: #adb5bdef;
$gray-600-trans: #6c757def;
$gray-700-trans: #495057ef;
$gray-800-trans: #343a40ef;
$gray-900-trans: #0e0f0fef;
$black-trans:    #000;