@use "./custom" as *;
@use "./components/typography" as *;

html {
    scroll-behavior: smooth;
    scrollbar-width: 6px;
    max-width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 6px;

    &:hover {
        background-color: #ccc;
    }
}
body {
  margin: 0;
  padding: 0;
  background-color: $white;
  scrollbar-width: thin;
  scrollbar-color: #888;
}

div {
  padding: 0;
}

img {
    width: inherit;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: $g-600;
    transition: all 500ms linear;

    &:hover {
        color: $g-800;
    }

    &:active {
        color: $cypheir-sub;
    }

    &:focus {
        color: $cypheir-main;
    }
}

li {
    list-style: none;
}