@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
@keyframes sidebar-in {
  0% {
    left: -40%;
    transition: left 500ms ease;
  }
  100% {
    left: 0;
    transition: left 500ms ease;
  }
}
.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 18px;
  padding: 6px 14px;
  font-size: 16px;
  color: #000;
  background-color: #f8f9fa;
}
.btn:hover {
  background-color: #dee2e6;
}
.btn:focus {
  outline: 1px solid #1ca7ec;
  background-color: #e9ecef;
}
.btn:active {
  background-color: #ced4da;
  color: #000;
}
.btn.primary-btn {
  background-color: #1ca7ec;
  color: #fff;
}
.btn.primary-btn:hover {
  outline: 1px solid #1ca7ec;
  background-color: transparent;
  color: #fff;
}
.btn.primary-btn:focus {
  outline: 2px solid #1ca7ec;
  background-color: transparent;
  color: #fff;
}
.btn.primary-btn:active {
  outline: 1px solid #1ca7ec;
  background-color: #88d6fd;
  color: #fff;
}
.btn.icon-btn {
  border-radius: 50%;
  padding: 4px;
  outline: 2px solid #1ca7ec;
  background-color: transparent;
}
.btn.icon-btn.dark svg {
  fill: #fff;
}
.btn.icon-btn svg {
  width: 2rem;
  height: 2em;
}

.cyp-row {
  --cyp-gutter-x: 1.5rem;
  --cyp-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--cyp-gutter-y));
  margin-right: calc(-0.5 * var(--cyp-gutter-x));
  margin-left: calc(-0.5 * var(--cyp-gutter-x));
}
.cyp-row * {
  width: 100%;
  max-width: 100%;
  margin-top: var(--cyp-gutter-y);
}

.container {
  --cyp-gutter-x: 1.5rem;
  --cyp-gutter-y: 0;
  width: 100%;
  padding: 0 calc(0.5 * var(--cyp-gutter-x));
  margin-right: auto;
  margin-left: auto;
}

.col {
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

:root {
  --heading-space: 0.15em;
  --heading-font: 1.75em;
}
@media (max-width: 767px) {
  :root {
    --heading-space: 0.11em;
    --heading-font: 1.5em;
  }
}
:root * {
  font-family: "Poppins", "Century Gothic", sans-serif;
}
:root p {
  font-size: 13px;
  font-weight: 400;
}
:root h1 {
  font-size: var(--heading-font);
  margin-block-start: var(--heading-space);
  margin-block-end: var(--heading-space);
}
:root h2 {
  font-size: calc(var(--heading-font) - 0.162em);
  margin-block-start: calc(var(--heading-space) / 0.9);
  margin-block-end: calc(var(--heading-space) / 0.9);
}
:root h3 {
  font-size: calc(var(--heading-font) - 0.243em);
  margin-block-start: calc(var(--heading-space) / 0.8);
  margin-block-end: calc(var(--heading-space) / 0.8);
}
:root h4 {
  font-size: calc(var(--heading-font) - 0.486em);
  margin-block-start: calc(var(--heading-space) / 0.7);
  margin-block-end: calc(var(--heading-space) / 0.7);
}
:root h5 {
  font-size: calc(var(--heading-font) - 0.6075em);
  margin-block-start: calc(var(--heading-space) / 0.6);
  margin-block-end: calc(var(--heading-space) / 0.6);
}
:root h6 {
  font-size: calc(var(--heading-font) - 0.648em);
  margin-block-start: calc(var(--heading-space) / 0.5);
  margin-block-end: calc(var(--heading-space) / 0.5);
}

.hero_body {
  display: block;
  background-color: #fff;
  min-height: 60dvh;
  padding: 2rem 15dvw;
}
@media (max-width: 767px) {
  .hero_body {
    padding: 1rem;
  }
}

.service_body {
  display: block;
  background-color: #fff;
  padding: 1rem 7.5dvw;
  border-top: 1px solid #000;
}
@media (max-width: 767px) {
  .service_body {
    display: none;
  }
}

/*# sourceMappingURL=app.module.css.map */
