.cyp-row {
  --cyp-gutter-x: 1.5rem;
  --cyp-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--cyp-gutter-y));
  margin-right: calc(-0.5 * var(--cyp-gutter-x));
  margin-left: calc(-0.5 * var(--cyp-gutter-x));
}
.cyp-row * {
  width: 100%;
  max-width: 100%;
  margin-top: var(--cyp-gutter-y);
}

.container {
  --cyp-gutter-x: 1.5rem;
  --cyp-gutter-y: 0;
  width: 100%;
  padding: 0 calc(0.5 * var(--cyp-gutter-x));
  margin-right: auto;
  margin-left: auto;
}

.col {
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

:root {
  --heading-space: 0.15em;
  --heading-font: 1.75em;
}
@media (max-width: 767px) {
  :root {
    --heading-space: 0.11em;
    --heading-font: 1.5em;
  }
}
:root * {
  font-family: "Poppins", "Century Gothic", sans-serif;
}
:root p {
  font-size: 13px;
  font-weight: 400;
}
:root h1 {
  font-size: var(--heading-font);
  margin-block-start: var(--heading-space);
  margin-block-end: var(--heading-space);
}
:root h2 {
  font-size: calc(var(--heading-font) - 0.162em);
  margin-block-start: calc(var(--heading-space) / 0.9);
  margin-block-end: calc(var(--heading-space) / 0.9);
}
:root h3 {
  font-size: calc(var(--heading-font) - 0.243em);
  margin-block-start: calc(var(--heading-space) / 0.8);
  margin-block-end: calc(var(--heading-space) / 0.8);
}
:root h4 {
  font-size: calc(var(--heading-font) - 0.486em);
  margin-block-start: calc(var(--heading-space) / 0.7);
  margin-block-end: calc(var(--heading-space) / 0.7);
}
:root h5 {
  font-size: calc(var(--heading-font) - 0.6075em);
  margin-block-start: calc(var(--heading-space) / 0.6);
  margin-block-end: calc(var(--heading-space) / 0.6);
}
:root h6 {
  font-size: calc(var(--heading-font) - 0.648em);
  margin-block-start: calc(var(--heading-space) / 0.5);
  margin-block-end: calc(var(--heading-space) / 0.5);
}

.btn {
  border-radius: 18px;
  padding: 8px 16px;
  font-size: 16px;
  color: #000;
  background-color: #f8f9fa;
}
.btn:hover {
  background-color: #dee2e6;
}
.btn:focus {
  outline: 1px solid #1ca7ec;
  background-color: #e9ecef;
}
.btn:active {
  background-color: #ced4da;
  color: #000;
}
.btn.primary-btn {
  background-color: #1ca7ec;
  color: #fff;
}
.btn.primary-btn:hover {
  outline: 1px solid #1ca7ec;
  background-color: transparent;
  color: #fff;
}
.btn.primary-btn:focus {
  outline: 2px solid #1ca7ec;
  background-color: transparent;
  color: #fff;
}
.btn.primary-btn:active {
  outline: 1px solid #1ca7ec;
  background-color: #88d6fd;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 6px;
  max-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  scrollbar-width: thin;
  scrollbar-color: #888;
}

main,
section {
  transition: all 500ms linear;
}
main.dark,
section.dark {
  background-color: #000;
  color: #fff;
}

div {
  padding: 0;
}

img {
  width: inherit;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #6c757d;
  transition: all 500ms linear;
}
a:hover {
  color: #343a40;
}
a:active {
  color: #88d6fd;
}
a:focus {
  color: #1ca7ec;
}

li {
  list-style: none;
}

.hero-container {
  display: flex;
}
@media (max-width: 767px) {
  .hero-container {
    padding: 0 1rem;
    flex-direction: column-reverse;
  }
}
.hero-container.dark {
  color: #fff;
}
.hero-container.dark .hero-container__text .text-container .hero-header {
  color: #fff;
}
.hero-container.dark .hero-container__text .text-container .hero-header .company {
  color: #fff;
}
.hero-container.dark .hero-container__text .text-container .hero-header .project {
  color: #1ca7ec;
  text-shadow: 2px 1px 0 #fff;
}
.hero-container.dark .hero-container__text .text-container .hero-subheading {
  color: #f8f9fa;
}
.hero-container.dark .hero-container__text .extra-container {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  margin: 18px 0;
}
.hero-container.dark .hero-container__text .extra-container .btn {
  margin-right: 16px;
}
.hero-container .hero-container__text {
  display: block;
  width: 50%;
}
@media (max-width: 767px) {
  .hero-container .hero-container__text {
    width: 100%;
  }
}
.hero-container .hero-container__text .text-container {
  --header-size: 2.25rem;
}
@media (max-width: 767px) {
  .hero-container .hero-container__text .text-container {
    --header-size: 1.6rem;
  }
}
.hero-container .hero-container__text .text-container .hero-header {
  cursor: default;
  display: block;
  font-size: var(--header-size);
  color: #000;
}
.hero-container .hero-container__text .text-container .hero-header .company {
  margin: -10px 0;
  display: block;
  font-size: calc(var(--header-size) * 1.618);
  text-transform: capitalize;
}
.hero-container .hero-container__text .text-container .hero-header .project {
  display: block;
  margin: -15px 0;
  font-weight: 800;
  color: #1ca7ec;
  font-size: calc(var(--header-size) * 1.618 * 1.4);
  text-shadow: 7px 5px 0 #0e0f0f;
  text-transform: capitalize;
}
.hero-container .hero-container__text .text-container .hero-subheading {
  color: #6c757d;
  letter-spacing: 1.5px;
}
.hero-container .hero-container__text .text-container .hero-description {
  display: block;
  font-weight: 300;
  font-size: 12px;
}
.hero-container .hero-container__text .extra-container {
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
}
@media (min-width: 1024px) {
  .hero-container .hero-container__text .extra-container {
    width: fit-content;
  }
}
.hero-container .hero-container__text .extra-container .btn {
  margin-right: 16px;
}
@media (max-width: 767px) {
  .hero-container .hero-container__text .extra-container .btn {
    margin-left: auto;
    margin-right: auto !important;
  }
}
.hero-container .hero-container__image {
  display: block;
  padding: 1rem;
}
.hero-container .hero-container__image img {
  width: -webkit-fill-available;
}

/*# sourceMappingURL=main.css.map */
