.cyp-row {
  --cyp-gutter-x: 1.5rem;
  --cyp-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--cyp-gutter-y));
  margin-right: calc(-0.5 * var(--cyp-gutter-x));
  margin-left: calc(-0.5 * var(--cyp-gutter-x));
}
.cyp-row * {
  width: 100%;
  max-width: 100%;
  margin-top: var(--cyp-gutter-y);
}

.container {
  --cyp-gutter-x: 1.5rem;
  --cyp-gutter-y: 0;
  width: 100%;
  padding: 0 calc(0.5 * var(--cyp-gutter-x));
  margin-right: auto;
  margin-left: auto;
}

.col {
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100dvw;
  padding: 2px 1.5rem;
  width: -webkit-fill-available;
  box-shadow: 0 0.01px 1px #495057;
  background-color: #fff;
  color: #0e0f0f;
  transition: all 1s linear;
}
.navbar.dark {
  background-color: #212121;
  color: #f8f9fa;
  transition: all 500ms ease-in-out 300ms;
}
.navbar .nav-brand {
  align-self: center;
  max-width: 6rem;
  margin: auto;
}
.navbar .nav-brand .nav-brand--logo {
  width: 100%;
  transition: all 500ms linear 200ms;
}
.navbar .nav-theme-setting {
  padding: 0 0.25rem;
  max-width: 4rem;
  display: flex;
  height: 1.5rem;
}
.navbar .nav-theme-setting .theme-btn {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(206, 212, 218, 0.937254902);
  width: 3rem;
  padding: 4px;
  border-radius: 18px;
  box-shadow: 0 0 0.5px rgba(233, 236, 239, 0.937254902), inset 0 1px 1.5px rgba(108, 117, 125, 0.937254902);
  transition: all 500ms linear;
}
@media (max-width: 767px) {
  .navbar .nav-theme-setting .theme-btn {
    width: 1rem;
  }
}
.navbar .nav-theme-setting .theme-btn.dark {
  background-color: rgba(73, 80, 87, 0.937254902);
  box-shadow: 0 0 0.5px rgba(233, 236, 239, 0.937254902), inset 0 1px 1.5px rgba(52, 58, 64, 0.937254902);
}
.navbar .nav-theme-setting .theme-btn.dark .theme-btn--effect {
  left: 32px;
  display: block;
  box-shadow: 0.2px 0.5px 1px rgba(108, 117, 125, 0.937254902), inset -0.5px 0px 2px rgba(173, 181, 189, 0.937254902) !important;
}
@media (max-width: 767px) {
  .navbar .nav-theme-setting .theme-btn.dark .theme-btn--effect {
    left: 2px;
  }
}
.navbar .nav-theme-setting .theme-btn.dark .theme-btn--effect .theme-icon {
  display: block;
  background: url("../../assets/icons/cloudy.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar .nav-theme-setting .theme-btn input[type=checkbox] {
  display: none;
  width: -webkit-fill-available;
}
.navbar .nav-theme-setting .theme-btn .theme-btn--effect {
  position: absolute;
  width: 14px;
  height: 14px;
  padding: 3px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 1s ease-in-out 300ms;
}
.navbar .nav-theme-setting .theme-btn .theme-btn--effect .theme-icon {
  width: 14px;
  height: 14px;
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.74, 0.05) 100ms;
}
.navbar .nav-theme-setting .theme-btn .theme-btn--effect {
  display: block;
  left: 4px;
  box-shadow: 0.2px 0.5px 1px rgba(108, 117, 125, 0.937254902), inset 0.5px 0px 2px rgba(173, 181, 189, 0.937254902);
}
.navbar .nav-theme-setting .theme-btn .theme-btn--effect .theme-icon {
  display: block;
  background: url("../../assets/icons/day.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .navbar .nav-theme-setting .theme-btn .theme-btn--effect {
    left: 2px;
  }
}
.navbar .nav-menu .menu-toggle {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
.navbar .nav-menu .menu-list {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1rem;
  padding-inline-start: 0;
}
.navbar .nav-menu .menu-list .menu-option {
  margin-left: 1rem;
  margin-right: 1rem;
}
.navbar .nav-menu .menu-list .menu-option .nav-link {
  font-size: 14px;
}
.navbar .nav-menu .menu-backdrop {
  display: none;
}

/*# sourceMappingURL=nav.css.map */
