.cyp-row {
  --cyp-gutter-x: 1.5rem;
  --cyp-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--cyp-gutter-y));
  margin-right: calc(-0.5 * var(--cyp-gutter-x));
  margin-left: calc(-0.5 * var(--cyp-gutter-x));
}
.cyp-row * {
  width: 100%;
  max-width: 100%;
  margin-top: var(--cyp-gutter-y);
}

.container {
  --cyp-gutter-x: 1.5rem;
  --cyp-gutter-y: 0;
  width: 100%;
  padding: 0 calc(0.5 * var(--cyp-gutter-x));
  margin-right: auto;
  margin-left: auto;
}

.col {
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100dvw;
  padding: 8px 1.5rem;
  width: -webkit-fill-available;
  box-shadow: 0 0.01px 1px #495057;
  transition: all 1s linear;
}
.navbar .nav-brand {
  max-width: 6rem;
}
.navbar .nav-brand .nav-brand--logo {
  width: 100%;
}
.navbar .nav-menu {
  display: flex;
  margin-left: auto;
}
.navbar .nav-menu .menu-toggle {
  display: none;
}
.navbar .nav-menu .menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1rem;
  padding-inline-start: 0;
}
.navbar .nav-menu .menu-list .menu-option {
  margin-left: 1rem;
  margin-right: 1rem;
}
.navbar .nav-menu .menu-list .menu-option .nav-link {
  font-size: 14px;
}
.navbar .nav-menu .menu-backdrop {
  display: none;
}
@media (max-width: 767px) {
  .navbar .nav-menu .menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 2.1rem;
    height: 2.1rem;
    outline: 2px solid #adb5bd;
    border-radius: 8px;
  }
  .navbar .nav-menu .menu-toggle .bar {
    background-color: #adb5bd;
    width: 70%;
    height: 2px;
    margin: 2px 0;
  }
  .navbar .nav-menu .menu-list {
    position: absolute;
    display: none;
    background-color: #fff;
    padding: 0.6rem 0.75rem;
    border-radius: 12px;
    top: 12%;
    left: 50%;
    flex: 1;
    z-index: 99;
    width: 80dvw;
    margin: 0;
    transform: translate(-50%, 0px);
    box-shadow: 0 1px 5px #495057;
    transition: all 1s linear;
  }
  .navbar .nav-menu .menu-list.show {
    display: flex;
  }
  .navbar .nav-menu .menu-backdrop {
    position: absolute;
    display: none;
    z-index: 30;
    top: 0;
    right: 0;
    width: 100dvw;
    height: 100%;
    background-color: transparent;
    opacity: 10%;
    backdrop-filter: blur(6px);
  }
  .navbar .nav-menu .menu-backdrop.show {
    display: block;
  }
}

/*# sourceMappingURL=nav.css.map */
